.section {
  position: relative;
  margin-top: 95px;
  padding: 65px 60px 36px 60px;

&::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0px; 

  width: 80%;
  height: 100%;
  border-radius: 0 0 0 30px;
  border-left: 3px solid #3d948e;
  border-bottom: 3px solid #3d948e;pointer-events: none;
}

}
.circle {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(calc(-50% ), calc(-50% ));

  display: block;
  width: 25px;
  height: 25px;
  border-radius: 100%;

  background-color: var(--primary-green);
}
.title {
  height: 60px;
  line-height: 60px;
  position: absolute;
  top: 0;
  transform: translateY(-50%);

  color: #999b9a;
  text-align: left;
  font-family: Museo Sans Cyrl 700;
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
}
.filters_container {
  display: flex;
}
.type_container {
  // padding-top: 9px;
  display: flex;
  height: 45px;
  align-items: center;
  margin-left: 30px;
}
.type_item_selected{
  width: 28px;
  height: 28px;
  border-radius: 20px;
}
.close_svg {
  stroke: var(--primary-font-color);
}
.type_label {
  margin-right: 10px;
}
.type_icon{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.type_select {
  display: flex;
  width: 112px;
  height: 28px;
  align-items: center;
  border-radius: 14px;
  gap: 5px;
  padding: 0 6px;

  border: none;
  background: var(--primary-input-bgc);
}
.type_item {
  width: 16px;
  height: 16px;

  border-radius: 100%;
}
.search {
  width: 300px;
  height: 45px;
  padding: 0 20px;

  border: none;
  outline: none;

  border-radius: 27.5px;
  background: var(--primary-input-bgc);

  &:hover,
  &:focus {
    outline: none;
  }
  &::placeholder {
    color: var(--primary-font-color);
  }
}
@media screen and (max-width: 1600px) {
  .search {
    width: 250px;
  }
}
.searchIcon {
  position: absolute;
  top: 14px;
  right: 20px;
}
.closeIcon {
  margin-left: 10px;
}
.search_label {
  position: relative;
  width: fit-content;
  height: fit-content;
}
.occupation_container {
  display: flex;
  // height: 45px;
  align-items: flex-start;
  // padding-top: 6px;
  margin-left: 30px;
}

.occupation_select {
  display: flex;
  height: 100%;
  padding: 8px 0;
  align-items: flex-start;
  gap: 13px 5px;
  flex-wrap: wrap;

  &.occupation_select_closed{
    align-items: center;
  }
}
span.occupation_item{
  margin-right: 5px;
}
.occupation_item {
  height: 29px;
  padding: 3px 18px;
  line-height: 145%;
  color: var(--primary-font-color);
  font-family: Museo Sans Cyrl 300;
  font-size: 16px;
  font-weight: 300;
  border-radius: 14.5px;
  background: var(--primary-input-bgc);
}
.occupation_label {
  line-height: 45px;
  font-size: 16px;
  margin-right: 10px;
}
.closeIcon {
  display: flex;
  align-items: center;
  height: 29px;
}
