@import "../../styles/_mixins";
.section {
  position: relative;
  padding: 65px 0 36px 60px;

  margin-top: 95px;

  &::before {
    @include pseudo_element(80%, 100%);
    left: 0;
    bottom: 0px;

    border-radius: 0 0 0 30px;
    border-left: 3px solid var(--primary-input-bgc);
    border-bottom: 3px solid var(--primary-input-bgc);
  }
  &.scrolled::before {
    @include pseudo_element(80%, 100%);
    left: 0;
    bottom: 0px;

    border-radius: 0 0 0 30px;
    border-left: 3px solid #3d948e;
    border-bottom: 3px solid #3d948e;
  }
}
.circle {
  @include circle;
  top: 0;
  left: 0;

  transform: translate(calc(-50% + 1px), calc(-50%));
  background-color: #ebebeb;
  &.scrolled {
    background-color: var(--primary-green);
  }
}
.title {
  position: absolute;
  top: 0;

  @include title_h2(50px);
  height: 60px;
  color: #999b9a;

  transform: translateY(-50%);
}
.filters_container {
  display: flex;
}
.type_container {
  @include flex_ai();
  height: 45px;
  margin-left: 50px;
}
.type_item_selected {
  width: 28px;
  height: 28px;

  border-radius: 20px;
}
.close_svg {
  stroke: var(--primary-font-color);
}
.type_label {
  margin-right: 10px;
}
.type_icon {
  @include flex_ai();
  justify-content: center;
  width: 100%;
  height: 100%;
}
.type_select {
  @include flex_ai();

  width: 112px;
  height: 28px;
  gap: 5px;
  padding: 0 6px;

  border: none;
  border-radius: 14px;
  background: var(--primary-input-bgc);
}
.type_item {
  width: 16px;
  height: 16px;

  border-radius: 100%;
  cursor: pointer;
}
.search {
  width: 300px;
  height: 45px;
  padding: 0 40px 0 20px;

  border: none;
  outline: none;

  border-radius: 27.5px;
  background: var(--primary-input-bgc);

  &:hover,
  &:focus {
    outline: none;
  }
  &::placeholder {
    color: var(--primary-font-color);
  }
}


.searchIcon {
  position: absolute;
  top: 14px;
  right: 20px;
}
.closeIcon {
  margin-left: 10px;
}
.search_label {
  position: relative;
  width: fit-content;
  height: fit-content;
}
.occupation_container {
  @include flex_ai(flex-start);
  margin-left: 50px;
}

.occupation_select {
  @include flex_ai(flex-start);
  height: 100%;
  padding: 8px 0;
  gap: 13px 5px;
  flex-wrap: wrap;

  &.occupation_select_closed {
    align-items: center;
  }
}
span.occupation_item {
  margin-right: 5px;
}
.occupation_item {
  cursor: pointer;
  height: 29px;
  padding: 3px 18px;
  line-height: 145%;
  color: var(--primary-font-color);
  font-family: Museo Sans Cyrl 300;
  font-size: 16px;
  font-weight: 300;
  border-radius: 14.5px;
  background: var(--primary-input-bgc);
}
.occupation_label {
  line-height: 45px;
  font-size: 16px;
  margin-right: 10px;
}
.closeIcon {
  @include flex_ai();
  height: 29px;
}
@media screen and (max-width: 1600px) {
  .search {
    width: 250px;
  }
}
@media screen and (max-width: 767px) {
  .title {
    @include title_h2(38px);
    height: 60px;
  }
  .filters_container {
    flex-direction: column;
  }
  .type_container {
    margin: 10px 0 0 20px;
  }
  .occupation_container {
    @include flex_ai(flex-start);
    margin-left: 20px;
  }
  .search {
    width: 250px;
  }
}
@media screen and (min-width: 375px) and(max-width: 580px) {
  .title {
    @include title_h2(30px);
    height: 60px;
  }
  .section {
    margin-top: 65px;
    padding: 35px 0 10px 35px;
  }
  .search {
    width: 150px;
    height: 31px;
  }
  .type_label,
  .type_item,
  .occupation_label,
  .occupation_item {
    font-size: 14px;
  }
  .occupation_item {
    height: 25px;
  }
  .circle {
    @include circle;
    width: 20px;
    height: 20px;
  }
  .searchIcon {
    & svg {
      width: 15px;
      height: 15px;
    }
    position: absolute;
    top: 8px;
    right: 20px;
  }
}
