@import "../../styles/_mixins";

.container {
  width: 22%;
  height: 278px;

  text-align: left;
}
.icon_container {
  margin-bottom: 30px;
}
.title {
  width: 202px;
  height: 36px;
  padding: 0 65px 0px 0;
  margin-bottom: 15px;

  @include title_h2(16px,left,normal);
  color: var(--primary-font-color);
  text-transform: uppercase;
}
.description {
  padding-top: 15px;

  @include paragraph(145%, 14px);
  color: var(--description-color);

  &.yellow {
    border-top: 3px solid #dcce90;
  }
  &.green,
  &.green_outline {
    border-top: 3px solid #29b4ad;
  }

  &.gray_outline {
    border-top: 3px solid #b5b7b6;
  }
}

//media for mobile
@media screen and (max-width: 767px) {
  .container {
    width: 45%;
  }
}
@media screen and (min-width: 375px) and (max-width: 580px){
  .container {
    width: 90%;
  }
}
