@import "../../styles/_mixins";

.container {
  width: 22%;
  height: 278px;
  text-align: left;
}
.icon_container {
  margin-bottom: 30px;
}
.title {
  width: 202px;
  height: 36px;
  text-transform: uppercase;
  color: var(--primary-font-color);
  font-family: "Museo Sans Cyrl 700";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  padding: 0 65px 0px 0;
  margin-bottom: 15px;
}
.description {
  padding-top: 15px;

  @include paragraph(145%, 14px);
  color: var(--description-color);

  &.yellow {
    border-top: 3px solid #dcce90;
  }
  &.green,
  &.green_outline {
    border-top: 3px solid #29b4ad;
  }

  &.gray_outline {
    border-top: 3px solid #b5b7b6;
  }
}

