@import "../../styles/_mixins";
.banner {
  @include flex_ai();
  justify-content: space-between;
  height: 681px;

  border: 1px solid #000;
  background:
    linear-gradient(0deg, rgba(52, 52, 52, 0.45) 0%, rgba(52, 52, 52, 0.45) 100%),
    url("../../images/headerBanner.jpg"),
    lightgray 50% / cover no-repeat;
    background-size: cover;

    
}
