@mixin title_h2($size, $tx-al: left, $lh: 60px) {
  line-height: $lh;
  text-align: $tx-al;
  font-family: "Museo Sans Cyrl 700";
  font-size: $size;
  font-style: normal;
  font-weight: 600;
}
@mixin title_h4($size: 30px, $fw: 400,$lh:normal) {
  font-family: "Museo Sans Cyrl 500";
  font-size: $size;
  font-weight: $fw;
  font-style: normal;
  line-height: $lh;

  color: var(--primary-font-color);
}
@mixin flex_ai($ai: center) {
  display: flex;
  align-items: $ai;
}

@mixin paragraph($lh: 150%, $fns: 16px, $fw: 300) {
  font-family: "Museo Sans Cyrl 300";
  font-size: $fns;
  font-style: normal;
  font-weight: $fw;
  line-height: $lh;
}
@mixin list_item {
  display: flex;
  align-items: flex-start;
  width: 500px;
  margin-bottom: 20px;
  text-align: left;

  font-family: "Museo Sans Cyrl 300";
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 150%;
}

@mixin circle {
  position: absolute;

  display: block;
  width: 25px;
  height: 25px;
  border-radius: 100%;
}
@mixin pseudo_element($w, $h) {
  content: "";
  position: absolute;
  width: $w;
  height: $h;
  pointer-events: none;
}
@mixin pe_top_left($c) {
  border-radius: 30px 0 0 0px;
  border-top: 3px solid $c;
  border-left: 3px solid $c;
}
@mixin pe_btm_left($c) {
  border-radius: 0px 0 0 30px;
  border-left: 3px solid $c;
  border-bottom: 3px solid $c;
}
@mixin pe_btm_right($c) {
  border-radius: 0 0 30px 0;
  border-right: 3px solid $c;
  border-bottom: 3px solid $c;
}
@mixin pe_top_right($c) {
  border-radius: 0px 30px 0 0px;
  border-top: 3px solid $c;
  border-right: 3px solid $c;
}
