@import "./fonts/MuseoSans/museoSans.scss";

:root {
  --primary-font: Museo Sans Cyrl 300;
  --light-gray-color: #929292;

  --primary-bgc: #fff;
  --secondary-bgc: #343434;
  --primary-green: #3d948e;
  --primary-light-gray: #414141;

  --toggle-bgc: #ebebeb;

  --primary-font-color: #424242;
  --secondary-font-color: #343434;

  --primary-input-bgc: rgba(52, 52, 52, 0.1);
  --primary-svg-fill: rgba(52, 52, 52, 0.2);

  --description-color: #212121;

  --nav-bgc: #343434;
  
  [data-theme="dark"] {
    --primary-bgc: #343434;
    --primary-green: #3d948e;
    --secondary-font-color: #fff;
    --primary-light-gray: #414141;
    
    --toggle-bgc: #414141;
    
    --primary-font-color: #fff;
    --primary-input-bgc: rgba(255, 255, 255, 0.1);
    --primary-svg-fill: rgba(255, 255, 255, 0.2);
    --description-color: #fff;
    --nav-bgc: #414141;
  }
}
