@import "../../styles/_mixins";

.nav_container {
  @include flex_ai;
  justify-content: space-between;
  height: 55px;

  border-top: 10px solid var(--primary-green);
  background: var(--nav-bgc);
}
.nav_list {
  display: flex;
  gap: 37px;

  color: #ff0000;

  & li {
    font-size: 14px;
    line-height: normal;
    color: #fff;

    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
}
.burger_icon_close {
  position: absolute;
  top: 10px;
  right: 10px;
  
  width: 30px;
  height: 30px;

  fill: var(--primary-font-color);
}
.burger_btn {
  background-color: transparent;
  & .burger_icon {
    fill: #fff;
    width: 30px;
    height: 30px;
  }
}
.burger {
  position: relative;

  width: 30px;
  height: 30px;
}
.burger_list_container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  display: none;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
  height: 100vh;
  padding: 2rem;
  
  text-align: left;
  
  background-color: var(--transparent-bgc);
  & li {
    margin-bottom: 20px;

    color: var(--primary-font-color);
    font-size: 20px;
    line-height: normal;

    &:hover {
      text-decoration: underline;
    }
  }
  &.open {
    display: flex;
  }
}
.logo {
  width: 107px;
  height: 28px;
}

//media for desktop
@media screen and (max-width: 1400px) {
  .nav_list li {
    font-size: 13px;
  }
}
@media screen and (min-width: 1600px) {
  .nav_list li {
    font-size: 16px;
  }

}
//media for mobile
@media screen and (max-width: 767px) {
  .burger_list_container ul li {
    font-size: 16px;
  }
}
@media screen and (min-width: 375px) and(max-width: 580px) {
  .burger_list_container ul li {
    font-size: 14px;
  }
}