.nav_container {
  display: flex;
  width: 1440px;
  height: 55px;
  align-items: center;
  justify-content: space-between;

  border-top: 10px solid var(--primary-green);
  background: var(--secondary-bgc);
}
.nav_list {
  display: flex;
  list-style: none;
  gap: 37px;
  & li {
    color: #fff;
    font-size: 14px;
    line-height: normal;
  }
}
.logo {
  width: 107px;
  height: 28px;
  flex-shrink: 0;
}
