@import "../../styles/_mixins";
.section {
  padding: 50px 0 62px 0;
  background-color: #3d948c;
  width: 100vw;
}

.title {
  @include title_h2(50px, center);
  color: #fff;
  margin-bottom: 30px;
}
.description {
  @include paragraph(normal, 20px);
  color: #fff;
  margin-bottom: 62px;
}
.form {
  width: 691px;
  margin: auto;
}
.input {
  width: 100%;
  padding: 18px 35px;
  border-radius: 28px;
  margin-bottom: 23px;
  @include paragraph(normal, 16px);
  color: #fff;
  &::placeholder {
    color: #fff;
  }
  background-color: #41a297;
  &.sm_input {
    height: 55px;
  }
  &.lg_input {
    height: 181px;
    margin-bottom: 60px;
  }
  &:-webkit-autofill {
    background-color: #41a297;
    color: #fff;
  }
}
.btn {
  
  background-color: transparent;
  width: 240px;
  height: 55px;
  border-radius: 28px;
  border: 1px solid#fff;
  @include title_h4(20px);
  color: #fff;
}
