@import "../../styles/_mixins";
.section {
  width: 100vw;
  padding: 50px 0 62px 0;

  background-color: #3d948c;
}

.title {
  @include title_h2(50px, center);
  margin-bottom: 30px;

  color: #fff;
}
.description {
  @include paragraph(normal, 20px);
  margin-bottom: 62px;

  color: #fff;
}
.form {
  width: 691px;
  margin: auto;
}
.input {
  width: 100%;
  margin-bottom: 23px;
  padding: 18px 35px;

  
  @include paragraph(normal, 16px);
  color: #fff;
  
  border-radius: 28px;
  background-color: #41a297;
  
  &::placeholder {
    color: #fff;
  }
  &.sm_input {
    height: 55px;
  }
  &.lg_input {
    height: 181px;
    margin-bottom: 60px;
  }
}
.btn {
  width: 240px;
  height: 55px;
  
  @include title_h4(20px);
  color: #fff;
  
  border-radius: 28px;
  border: 1px solid#fff;
  background-color: transparent;
}
