@import "../../styles/_mixins";

.section {
  width: 100vw;
  padding: 50px 0 62px 0;

  background-color: #3d948c;
}
.title {
  height: 60px;
  margin-bottom: 30px;

  @include title_h2(50px, center);
  color: #fff;
}
.description {
  margin-bottom: 62px;

  @include paragraph(normal, 20px);
  color: #fff;
}
.form {
  width: 691px;
  margin: auto;
}
.input {
  width: 100%;
  margin-bottom: 23px;
  padding: 18px 35px;

  @include paragraph(normal, 16px);
  color: #fff;

  border-radius: 28px;
  background-color: #41a297;

  &::placeholder {
    color: #fff;
  }
  &.sm_input {
    height: 55px;
  }
  &.lg_input {
    height: 181px;
    margin-bottom: 60px;
  }
}
.btn {
  width: 240px;
  height: 55px;

  @include title_h4(20px);
  color: #fff;

  border-radius: 28px;
  border: 1px solid#fff;
  background-color: transparent;
}

//media for mobile
@media screen and (max-width: 767px) {
  .description {
    margin-bottom: 20px;

    @include paragraph(normal, 16px);
    color: #fff;
  }
  .title {
    height: 50px;
    margin-bottom: 20px;

    @include title_h2(34px, center);
  }
  .form {
    width: calc(100% - 4rem);
    margin: auto;
  }
  .btn {
    width: 200px;
    height: 55px;

    @include title_h4(16px);
    color: #fff;
  }
  .input {
    width: 100%;

    @include paragraph(normal, 14px);
    color: #fff;
  }
}

@media screen and (min-width: 375px) and (max-width: 580px) {
  .description {
    margin-bottom: 20px;

    @include paragraph(normal, 14px);
    color: #fff;
  }
  .title {
    margin-bottom: 20px;
    height: 50px;
    
    @include title_h2(25px, center);
  }
  .form {
    width: calc(100% - 4rem);
    margin: auto;
  }
  .btn {
    width: 200px;
    height: 55px;

    @include title_h4(16px);
    color: #fff;
  }
  .input {
    @include paragraph(normal, 14px);
    color: #fff;
  }
}
