.cards_container {
  display: flex;
  margin-top: 50px;
  gap: 70px;
}

.btn {
  width: 40px;
  height: 40px;

  background-color: transparent;
  border: none;
  outline: none;
}
.btn_container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 70px 0 0 0;
}
.page {
  width: 40px;
  height: 40px;

  color: var(--primary-font-color);
  
  border-radius: 100%;
  border: none;
  outline: none;
  background-color: transparent;

  &:disabled {
    color: var(--primary-svg-fill);
  }
  &.active {
    background-color: var(--primary-input-bgc);
  }
}

@media screen and (max-width: 1400px) {
  .cards_container {
    gap: 30px;
  }
}