@import "../../styles/_mixins";

.nav_container {
  width: 100%;

  background: var(--primary-light-gray);
}
.nav_list {
  @include flex_ai(flex-start);
  justify-content: space-between;

  text-align: left;
}
.list_item {
  margin-bottom: 10px;

  @include paragraph(normal, 14px);
  color: #929292;
}
