@import "../../styles/_mixins";

.section {
  position: relative;
  text-align: left;
  height: calc(570px + 120px);

  padding: 60px 60px 60px 0;

  margin-top: -3px;
  &::before {
    @include pseudo_element(80%, 50%);
    @include pe_top_right(var(--primary-input-bgc));
    right: 0;
    top: 0;
  }
  &.section_scrolled_top::before {
    @include pseudo_element(80%, 50%);
    @include pe_top_right(#3d948e);
    right: 0;
    top: 0;
  }
  &::after {
    @include pseudo_element(80%, 50%);
    @include pe_btm_right(var(--primary-input-bgc));
    right: 0;
    bottom: 0;

    z-index: 0;
  }
  &.section_scrolled_center::after {
    @include pseudo_element(80%, 50%);
    @include pe_btm_right(#3d948e);
    right: 0;
    bottom: 0;
  }
}
.circle {
  @include circle;
  top: 50%;
  right: 0;
  z-index: 1;

  transform: translate(calc(50% - 1px), -50%);
  background-color: #ebebeb;

  &.scrolled {
    background-color: var(--primary-green);
  }
}

.title {
  width: 437px;
  margin-top: 140px;

  @include title_h2(75px, left, 100%);
  text-transform: uppercase;
  color: #424242;

  & span {
    color: inherit;
    font-size: 80px;
    line-height: 100%;
  }
}
.description {
  margin-top: 5px;

  @include paragraph(100%, 35px, 250);
  color: #424242;
  text-transform: capitalize;
}
.section_BGI {
  position: absolute;
  top: 60px;
  left: -9rem;
  z-index: 0;

  width: calc(100vw - 60px - 9rem);
  height: calc(100% - 120px);

  border-radius: 0px 20px 20px 0px;
  background-image: url("../../images/knowMoreBGI.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  &::after {
    @include pseudo_element(calc(100% - 18rem), 10px);
    bottom: -10px;
    left: 9rem;

    background-color: var(--primary-green);
  }
}

.content {
  position: relative;
  z-index: 10;

  display: flex;
  padding-right: 115px;
  justify-content: space-between;
  height: 100%;
}
.left_side_content {
  height: 100%;
}
.image {
  width: 311px;
  height: 512px;
  align-self: flex-end;
}
.btn {
  width: 198px;
  height: 50px;
  margin-top: 35px;

  @include title_h4(20px);
  color: #fff;

  outline: none;
  border: none;
  border-radius: 25px;
  background-color: var(--primary-green);
}

@media screen and (max-width: 1400px) {
  .section_BGI {
    left: -7rem;
    width: calc(100vw - 60px - 7rem);
  }
  .title {
    font-size: 73px;
    & span {
      font-size: 78px;
    }
  }
  .description {
    font-size: 33px;
  }
}
@media screen and (max-width: 1400px) {
  .section_BGI {
    left: -7rem;
    width: calc(100vw - 60px - 7rem);
    &::after {
      @include pseudo_element(calc(100% - 14rem), 10px);
      bottom: -10px;
      left: 7rem;

      background-color: var(--primary-green);
    }
  }
}
@media screen and (min-width: 1600px) {
  .section_BGI {
    left: -12rem;
    width: calc(100vw - 60px - 12rem);
    &::after {
      @include pseudo_element(calc(100% - 24rem), 10px);
      bottom: -10px;
      left: 12rem;

      background-color: var(--primary-green);
    }
  }
}
@media screen and (max-width: 767px) {
  .section{
    height: calc(450px + 120px);
  }
  .section_BGI {
    left: -2rem;
    width: calc(100vw - 60px - 2rem);
    &::after {
      @include pseudo_element(calc(100% - 4rem), 10px);
      bottom: -10px;
      left: 2rem;

      background-color: var(--primary-green);
    }
  }
  .title {
    margin-top: 100px;
    @include title_h2(45px, left, 100%);
    & span {
      font-size: 48px;
    }
  }
  .description {
    @include paragraph(100%,20px, 250);
    color: #424242;
    text-transform: capitalize;
  }
  .content {
    padding-right: 20px;
  }
  .left_side_content {
    width: 50%;
  }
  .image {
    width: calc(311px / 3 + 311px / 3);
    height: calc(512px / 3 + 512px / 3);
    align-self: flex-end;
  }
  .btn {
    width: 158px;
    height: 40px;
    margin-top: 35px;
  
    @include title_h4(16px);
    color: #fff;
  }
}
@media screen and (min-width: 375px) and(max-width: 580px) {
  .section{
    height: calc(350px + 120px);
  }
  .section_BGI {
    left: -1rem;
    width: calc(100vw - 60px - 1rem);
    &::after {
      @include pseudo_element(calc(100% - 2rem), 10px);
      bottom: -10px;
      left: 1rem;

      background-color: var(--primary-green);
    }
  }
  .image {
    width: calc(311px / 5 * 3);
    height: calc(512px / 5 * 3);
    align-self: flex-end;
  }
  .btn {
    width: 140px;
    height: 40px;
    margin-top: 35px;
  
    @include title_h4(16px);
    color: #fff;
  }
  .title{
    margin-top: 50px;
    @include title_h2(35px, left, 100%);
    & span {
      font-size: 38px;
    }
    width: fit-content;
  }
}